@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService _authorizationService

@{
    <h1>Secret</h1>

    if (User.Identity is not null && User.Identity.IsAuthenticated)
    {
        <h2>User Athenticated</h2>        
    }

    var authorizationResult = await _authorizationService.AuthorizeAsync(User, "Claim.Hu3");

    if (authorizationResult.Succeeded)
    {
        <h2>User tem o Claim "Claim.Hu3"</h2>
    }
}
